<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta app-version="2.2.0">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <canvas id="skiCanvas"></canvas>
    </body>
</html>